.not-found {
  margin-bottom: 140px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
    display: inline-block;
  }

  h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
    margin-bottom: 20px;
  }

  p {
    max-width: 607px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #474747;
    margin-bottom: 40px;
  }

  &__link-wrapper {
    a {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #474747;
      text-decoration: none;

      img {
        margin-left: 20px;
      }
    }
  }
}
